:root {
  font: 16px "Readex Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 200ms ease;
}

.body {
  height: 100vh;
  padding: 1%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}
